.link-img-b{
    border-radius: 0.25rem;
    color: black;
    text-decoration: none;
    background-color:#C3DDFD ;
    margin-right: 5px;
    padding: 5px;
    font-weight: 500;
}
.text-link{
    font-weight: 500;
    text-decoration: none;
    color: black;
    
}
.text-link2{
    font-weight: 500;
    text-decoration: none;
    color: rgb(9, 41, 253);
    
}
.hover-img:hover{
    transform: scale(1.02);
    

}
.link-border{
    border-bottom: solid 1px;
}
.tehma{
    border-bottom: solid black 1px;
    padding-bottom: 20px;
}

